@media only screen and (min-width: 765px) {


body {
    background-image:url("/images/site/small_check.jpg") ;
    
}

#wrapper {
    background-color: white;
    max-width: 90%;
    
    padding: 10px;
    margin: 30px auto;
    border: solid #e8e7ec 7px;
    border-radius: 10px;
}

header {
    position: static;
}

nav {
    height: 4vh;
    position: static;
}

main {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 10px;
    
}


#welcome {
    grid-column: 1/4;
    
}

#upgrades {
    grid-column: 1/2;
    grid-row: 2;
}

#inv-display {
    display: inline-grid;
    grid-template-columns: 1fr 1fr;
}
}