

:root {
  /*These are the colors*/
  --color-primary: #0c1d61;
  --color-secondary: #7682a6;
  --color-accent1: #f8b13d;
  --color-accent2: #c75f0a;
  --color-accent3: #050505;
  --color-accent4: #e8e7ec;

  --color-paragraph-background: #FFDE59;
  --color-nav-link: #000000;
  --color-nav-background: #0c1d61;
  --color-nav-hover-link: #3a508a;
  --color-nav-hover-background: #efefef;

  /*These are the fonts*/
  --font-heading: 'Kalam', Verdana, sans-serif;
  --font-subheading: Poppins, Verdana, sans-serif;
  --font-subheading2: Montserrat, Verdana, sans-serif;
  --font-paragraph: Poppins, Verdana, sans-serif;

  /* sizes */
  --font-base: 18px;
  --small-font: 0.8em;
  --large-font: 1.2em;
  --xlarge-font: 2.0em;
}





/******* Change Box Model ***************/
*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: var(--font-paragraph);
  font-size: var(--font-base);
  color: var(--dark-grey);
}

main {
  margin: 15px;
}
img {
  max-width: 100%;
}
h1 {
  color: var(--color-primary);
}

ul {
  list-style-type: none;
}

header {
  display: flex;
  justify-content: space-between;
  padding: 0 10px;
  background-color: white;
  position: sticky;
  top: 0vh;
  z-index: 900;
  padding-top: 10px;
  padding-bottom: 30px;
}

.siteName a {
  font-size: var(--xlarge-font) ;
  text-decoration: none;
  color: var(--color-primary);
  text-shadow: 2px 2px 3px var(--color-primary);
}

#tools a {
  text-decoration: none;
}

nav {
  font-family: var(--font-subheading2);
  background-color: var(--color-accent4);
  position: sticky;
  z-index: 800;
  top: 94px;
  height: 10vh;
  display: flex;
  align-items: center;
  
}

nav ul {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
  list-style-type: none;
  margin: 10px;
  padding: 0;
  color:#EFEFEF;

}

#inv-display {
  grid-row: 2;
  grid-column: 1/3;

}

#inv-display li {
  border: var(--color-accent1) 2px solid;
  border-radius: 10px;
  margin: 12px 12px;
  text-align: center;
  padding: 10px;
}

#inv-display img {
  height: 50%;
  border-radius: 10px;
}

.namePrice h2 {
  line-height: 1;
  margin-bottom: 5px;
}

.namePrice h2 a {
  color: var(--color-accent3);
  font-size: 1.2rem;
}

main section {
  padding: 5px;
}

#car-features-container {
  background: rgba(255, 255, 255, 0.6);
  width: 50%;
  
  
  position: relative;
  z-index: -1;
}

#car-features-container {
  grid-row: 2;
  grid-column: 1;
  z-index: 300;
  justify-self: left;
  margin-right: 10vh;
}

#car-features-container h2 {
  margin: 0;
  font-family: var(--font-paragraph);
  font-size: var(--large-font);
  font-weight: 400;
  white-space: nowrap;
  
  
}

#car-features-container ul{
  list-style-type: none;
  padding: 0;
  margin: 0;
  color: #908c8c;
}

#car-features-container img {
  width: 50%;
  opacity: 100;
}

#car-features-container li {
  font-family: var(--font-paragraph);
  font-size: var(--small-font);
  font-weight: 300;
  
}

#welcome {
  display: grid;
  grid-template-columns: 1fr 1fr;
  place-items: center;
}



#welcome h1 {
  grid-column: 1/2;
  justify-self: left;
}



#welcome img {
  grid-row: 2;
  grid-column: 1/3;
  
}

h1 {
  font-family: var(--font-heading);
}

ul {
  padding: 17px;
}

#upgrade_container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 1.5em;
   
}

.upgrade {
  text-align: center;
  text-decoration: underline;
  
}

.upgrade-img {
  background-color: var(--color-primary);
  height: 100px;
  width: 95%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: solid var(--color-accent1) 3px;
}
 .upgrade p {
  margin: 0;
  font-family: var(--font-paragraph);
 }
